body{
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
}

.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 25px;
}

h1{
  font-size: 40px;;
  margin: 0;
}

p{
    margin: 0;
    font-size: 16px;
}
.p1{
   line-height: 25px;;
}
h6{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding-bottom: 10px;
}
svg{
    padding: 0 15px 0 0;
    float : left;
}

input{
    margin: 0;
    height: 50px;
    width: 318px;
    padding-left: 10px;
}
#button1{
    height: 50px;
    width: 330px;
    background-color: hsl(235, 18%, 26%);
    border : none;
    border-radius: 10px;
    color: whitesmoke;
}
#myButton{
    height: 50px;
    border : none;
    border-radius: 10px;
    background-color: hsl(235, 18%, 26%);
    color:hsl(0, 0%, 100%);
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding-right: 10px;
}
#error-message{
    margin-left: 190px;
    font-size: 13px;
}
.success-message{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    width: 420px;
    border-radius: 20px;
    padding: 20px;
    height: 300px;
}
.image2{
  display: none;
}
body{
    background-color: hsl(234, 29%, 20%);
}
#button1:hover{
    background-color: hsl(4, 100%, 67%);
    border: none;
}
#myButton:hover{
    background-color: hsl(4, 100%, 67%);
    border: none;
}
span{
    font-weight: bold;
}
@media(max-width: 376px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 0;
    }
    body{
        background-color: hsl(0, 0%, 100%);
        margin: 0;
    }
    .image{
        content: url(./assets/images/illustration-sign-up-mobile.svg);
        margin: 0;
        padding:0;
    }
    .form{
        padding: 20px;
        width: 330px;
    }
    input{
        width: 318x;
    }
    h1,li,p{
        padding-bottom: 15px;;
    }
}